<table class="table">
    <thead>
        <tr>
            <th>RentalId</th>
            <th>Marka</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kiralama tarihi</th>
            <th>Donus tarihi</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.rentalId}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>
