<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adi</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model</th>
            <th>Gunluk Fiyat</th>
        </tr>
    </thead>
    <tr *ngFor="let carDetail of carDetails">
        <td>{{carDetail.carId}}</td>
        <td>{{carDetail.description}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.dailyPrice}}</td>
    </tr>
</table>

